<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vaporJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>vaporJSON.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1158</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1391</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_660</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_848</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_914</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_916</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
